:root {
    --font-s: 1rem;
    --font-m: 1.3rem;
    --font-l: 1.5rem;
    --font-xl: 2rem;
    --font-xxl: 2.5rem;
    
    --font-section-title: 50px; 
}    

* {
    margin: 0;
    box-sizing: border-box;
}

/* SKILLS */
#skills {
    background-color: #FFCD28;
}

.skills-content {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 40px;
}

.skills-title {
    display: inline-block;
    margin: 0 auto 40px;
    position: relative;
    left: 50%;
    transform: translateX(-45%);
}

.skills-link {
    position: absolute;
    left: -45%;
    top: 30%;
    opacity: 0.5;
    cursor: pointer;
    font-size: 30px;
    color: black;
}

.skills-link:hover {
    opacity: 0.7;
}

.skills-title-text {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: var(--font-xl);
    font-weight: bold;
}

.skills-tech {
    display: flex;
    justify-content: space-around;
}

.skills-tech-container {
    background: #fff;
    width: 500px;
    padding: 30px 30px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 20px 20px 20px rgb(68 68 68 / 20%);
}

.skills-tech-container:hover {
    transform: translateY(5px);
    transition: transform 0.3s;
}

.skills-tech-title {
    font-size: var(--font-l);
    border-bottom: 1px solid #bebebe;
    font-weight : bold;
    color: #FF8200;
    line-height: 40px;
    margin-bottom: 10px;
}

.skills-tech-img {
    width: 100%;
}

.skills-tech-img img {
    width: 100%;
}



/* ARCHIVING */
#archiving {
    background-color: #282828;
}

.archiving-content {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 40px;
}

.archiving-title {
    font-size: var(--font-xl);
    font-weight: bold;
    display: inline-block;
    margin: 0 auto 40px;
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-45%);
}

.archiving-link {
    position: absolute;
    left: -25%;
    top: 30%;
    opacity: 0.5;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
}

.archiving-link:hover {
    opacity: 0.7;
}

.archiving-title-text {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 5px;
    display: table-cell;
}

.archiving-info {
    display: flex;
    justify-content: space-around;
}

.archiving-container {
    background: #fff;
    width: 500px;
    padding: 30px 30px;
    border-radius: 15px;
    cursor: pointer;
}

.archiving-container:hover {
    transform: translateY(5px);
    transition: 0.3s;
}

.archiving-container:hover > .archiving-info-url a {
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.archiving-info-title {
    width: 100%;
    margin-bottom: 15px;
}

.archiving-info-title img {
    width: 48%;
}

.archiving-info-url {
    width: 100%;
    margin-bottom: 20px;
    word-break: break-all;
}

.archiving-info-url a {
    text-decoration: none;
    color: #258ddb;
    font-size: 14px;
}

.archiving-info-description p {
    margin-bottom: 15px;
}

.archiving-container ul {
    padding-left: 20px;
    line-height: 30px;
}



@media (min-width: 480px) {
    .skills-title-text,
    .archiving-title-text {
        font-size: var(--font-xxl);
    }

    .skills-link {
        font-size: 35px;
        left: -40%;
    }

    .archiving-link {
        font-size: 35px;
        left: -25%;
    }

    .archiving-container {
        font-size: var(--font-s);
    }

    .archiving-info-url a {
        font-size: var(--font-s);
    }
}

@media (min-width: 768px) {
    .skills-title-text,
    .archiving-title-text {
        font-size: var(--font-section-title);
    }

    .skills-link {
        font-size: 35px;
        left: -35%;
    }

    .archiving-link {
        font-size: 35px;
        left: -20%;
    }
}