:root {
  --white-color: #fff;
  --black-color: #000;
  --blue-color: #0000FF;
  --red-color: #FF0000;

  /* --font-mobile: 20px;
  --font-tablet-r: 10px;
  --font-tablet: 12px;
  --font-desktop: 16px; */

  --font-s: 1rem;
  --font-m: 1.3rem;
  --font-l: 1.5rem;
  --font-xl: 2rem;
  --font-xxl: 2.5rem;

  --font-section-title: 50px;

  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem; 
  --space-xl: 2.5rem;
  --space-xxl: 3rem;

  font-size: 16px;
}

.sr-only {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}


#aboutTeam {
  background-color: rgb(230, 230, 230);
}

#aboutTeam .container {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: var(--space-s);
}

#aboutTeam .container > .title {
  position: relative;
  display: flex;
  align-items: baseline;
  padding-top: 20px;
}

#aboutTeam .container .title .section-link {
  position: absolute;
  top: 35%;
  left: -17%;
  opacity: 0.5;
  cursor: pointer;
  font-size: 30px;
  color: black;
  opacity: 0.5;
}

#aboutTeam .container .title .section-link:hover {
  opacity: 0.7;
}

#aboutTeam .container .title .section-title {
  display: inline-flex;
  margin: var(--space-xs);
  margin-bottom: var(--space-xl);
  border-bottom: 1px solid rgb(145, 145, 145);
  padding-bottom: var(--space-xs);
  font-size: var(--font-xl);
}

#aboutTeam .member-container {
  display: flex;
  flex-direction: column;
  padding: var(--space-xs);
  width: 90%;
  justify-content: center;
}

#aboutTeam .member-container .member {
  display: flex;
  flex-direction: column;
  padding: var(--space-s);
  margin-bottom: var(--space-m);
  border-radius: 20px;
  box-shadow: 2px 6px 10px rgba(82, 82, 82, 0.3);
  background-color: #fff;
  color:rgba(82, 82, 82);
}

#aboutTeam .member-container .member:hover {
  transform: translateY(+5px);
  transition: transform 0.3s;
}

#aboutTeam .member-container .member > div {
  display: flex;
  margin: var(--space-s);
}

#aboutTeam .member-container .member .icon {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: var(--space-m);
  font-size: var(--font-xl);
  flex: 1 0 1;
}

#aboutTeam .member-container .member > div .info .title {
  font-size: var(--font-m);
  font-weight: 700;
}

#aboutTeam .member-container .member > div .info .content {
  color:rgb(132, 132, 132);
}



@media (min-width: 480px) { 
  
  #aboutTeam .container .title .section-title {
    font-size: var(--font-xxl);
  }

  #aboutTeam .member-container {
    margin: auto 0;
  }
  
  #aboutTeam .container .title .section-link {
    font-size: 35px;
  }

  #aboutTeam .member-container {
    align-items: center;
    width: 500px;
  }

  #aboutTeam .member-container .member {
    width: 100%;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #aboutTeam .member-container .member > div {
    width: 40%;
    flex-direction: column;
  }
}





@media (min-width: 768px) {
  #aboutTeam .container {
    padding: var(--space-m);
  }

  #aboutTeam .container .title .section-title {
    font-size: var(--font-section-title);
  }

  #aboutTeam .member-container {
    padding: 0;
  }
  
  #aboutTeam .member-container .member {
    padding: var(--space-xl);
  }

  #aboutTeam .member-container .member > div {
    
    width: 42%;
    flex-direction: row;
  }
}





@media (min-width: 1024px) {
  #aboutTeam .member-container {
    flex-direction: row;
    width: 100%;
    margin-bottom: 17px;
  }
  #aboutTeam .member-container .member {
    width: 100%;
    padding: var(--space-m);
    margin: var(--space-xs);
  }

  #aboutTeam .member-container .member > div {
    width: 100%;
  }

  #aboutTeam .member-container .member > div .icon {
    margin-right: var(--space-l);
  }
}

