:root {
  --text-color: #f0f4f5;
  --background-color: #FFFFFFB3;
  --accent-color: #d49466;
}

* {

  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro';
}

a {
  text-decoration: none;
  color: var(--text-color);

}

#intro,
#aboutTeam,
#skills,
#archiving {
  position: relative;
}

#intro {
  background-image: url("../img/cpt.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}

.text__member {
  width: 100%;
  margin: 0px auto;
  border: -1px solid #000000;
  height: 0px;

}

.text {
  padding: 5px 10px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #FFFFFF;
}

.text1 {
  font-size: 20px;
  color: #FFFFFFBF;
}


.wrap {
  background-color: #f4623a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--background-color);
}


.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
  padding-top: 10px;
  padding-left: 150px;

}

.navbar__menu {
  display: flex;
  font-size: 20px;
  list-style: none;
  padding-left: 50px;

}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar__icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}


.navbar__icons li {
  padding: 8px 12px;
}


.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

hr.rounded {
  border-top: 3px solid #f4623a;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }


  .navbar__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;

  }

  .navbar__menu a {

    display: block;
  }


  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }


  .navbar__toggleBtn {
    display: block;
  }


  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}